[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
"flake8" = "*"
pylint = "*"

[packages]
pytest = "*"
"flake8-mypy" = "*"
pytest-runner = "*"
snakemake = "*"
"flake8" = "*"
pickledb = "*"

[requires]
python_version = "3.6"
